
.about {
    padding-top: 173px;
    
}

.about > div:first-child {
    display: flex;
    gap: 100px;
    align-items: center;
    margin-bottom: 170px;
}

.about_us_cont p {
    font-weight: 300;
    font-size: 2rem;
    line-height: 2;
    margin-bottom: 36px;
    margin-top: 23px;
}

.about_us_cont p:last-child {
    margin-bottom: 0px;
}

.choose h3 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    color: #DA3414;
    padding-bottom: 65px;
}

.choose h4 {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
    padding-bottom: 15px;
}

.choose p {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.3;
}

.choose ul {
    display: flex;
    gap:113px;
}