body,
html {
    background-color: black;
    font-family: "Roboto Slab";
    color: white;
    font-size: 10px;
}

main {
    background-image: url("img/wolf.svg");
    background-repeat: no-repeat;
    background-position: top 80% left 0;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.container-small {
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
}

.line {
    font-weight: 400;
    font-size: 3rem;
    line-height: 1;
}

.line::after {
    content:"";
    display: block;
    width: 171px;
    height: 1px;
    background-color: #DA3414;
    margin-top: 15px;
}
