.footer__container {
    padding-top: 89px;
    padding-bottom: 81px;
}

.footer__nav {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 39px;
}

.footer__list {
    display: flex;
    gap: 86px;
    align-items: center;
}




