body,
html {
    background-color: black;
    font-family: "Roboto Slab";
    color: white;
    font-size: 10px;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.container-small {
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
}

.full-container {
    width: 100%;
}

